h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: black;
    font-weight: lighter;
    display: inline;
}

li {
    list-style-type: none;
    font-size: 56px;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    font-style: italic;
    color: pink;
}

footer {
    font-size: 9px;
    color: black;
    font-weight: lighter;
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.topcorner {
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline;
}